span{
    font-size: 30px;
    color:green;
    cursor:pointer;
    }
span:hover{
    font=size:50px;
    color: red;
}
#firstspan{
color:pink;    
}
.group{
    color:#FFFF00;
}

#secondspan{
    color: purple;
}