<!doctype html>
<html>
    <head>
    
        <title> first page </title>
       <link rel='stylesheet' href='../style/style.css'>
        <style>    
            h2,h3,h4,h5,h6{
                color:blue;
            }
          
            h3{
                cursor: pointer;
            }
        </style>
          
    </head>
            
        <body>
            

    <h1 style="color:red">header1</h1>
    <h2>header2</h2>    
    <h3>header3</h3>
    <h4>header4</h4>
    <h5>header5</h5>
    <h6 class='group'>header6</h6>
    
    
 <span>hello world</span><br>
    <span>good morninig</span><br>
        <span>good afternoon</span><br>
            <span>good night</span><br>
 
    <span id='firstspan'>with id</span><br>
            <span class='group' id='secondspan'>second id</span><br>
    <span class='group'>group</span><br>
    </body>
    
</html>