<!doctype html>
<html>
    <head>
    
        <title> reference  </title>
    <link rel='stylesheet' href='../style/style.css'>
        
    </head>

     <body>
       <table>
        <thead>
         <tr>
            <th>LINKS</th>
            <th>DESCRIPTION</th>
            
        </tr>  
           </thead>   
        <tbody>
   
          <tr>
    
        <td><a href='../views/index.html'>Hello world</a></td>
        <td>ids and classes</td>
         

         </tr>
         <tr>
         
    <td><a href="../views/list.html">list</a></td>
        <td>order/unorder list </td>
         

            </tr>    
            <tr>
            
            <td><a href="../views/tables.html">tables</a></td>
            <td>tables</td>
            
            
            </tr>    
           </tbody>
         </table>
        </body>     
</html>