<!doctype html>
<html>
    <head>
    
        <title> tables </title>
<link rel='stylesheet' href='../style/style.css'>
        
    </head>   
                <body>

                   
      <table>

          <thead>
    <tr>
    
        <th>first name</th>

        <th>last name</th>
    
        <th>adress</th>
    
    </tr>
    </thead>

    <tbody>
   
    <tr>
        <td>jhon</td>
        <td>doe</td>
        <td>arligton</td>
        
    
        </tr>
    <tr>
     <td>gorge</td>
        <td>whasigton</td>
     
        <td>irving</td>
        
        </tr>
    
       <tr>
    <td>curtis</td>
        <td>gorge</td>
        <td>dallas</td>
    
        </tr>
    </tbody>

        </table>
        
                         <h1>links</h1>
                    <a href="https://www.google.com/">google</a>
                    
                    
         </body>
    <html>